body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background-image: url("./turntly_backgroud.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
