#jumboheader {
  background-image: url("./pexels-photo.jpg");
  background-size: cover;
  /* padding: 10px; */
}

.navbar-brand {
  background-color: #2460c100;
  border-color: #e53c3700;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #249ec1;
  font-family: "Permanent Marker", cursive;
  opacity: 0.8;
}

#search-key {
  color: snow;
  font-family: "Permanent Marker", cursive;
  opacity: 0.8;
}

#turnt {
  color: #2490c1;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
}
